site_name: learn.jacobkoziej.xyz
site_description: A curated collection of lessons by Jacob Koziej
site_author: Jacob Koziej
copyright: Copyright &copy; 2020 Jacob Koziej
site_url: https://learn.jacobkoziej.xyz
repo_url: https://github.com/jacobkoziej/learn
repo_name: jacobkoziej/learn
edit_uri: ""

theme:
  name: material
  custom_dir: overrides
  palette:
    scheme: slate
    primary: deep purple
    accent: teal
  font:
    text: Fira Sans
    code: Fira Mono
  icon:
    logo: material/book-open-page-variant
  features:
    - instant
    - search
    - tabs

extra:
  social:
    - icon: fontawesome/solid/map-marker-alt
      link: https://jacobkoziej.xyz
      name: jacobkoziej.xyz
    - icon: fontawesome/solid/envelope
      link: mailto:<jacobkoziej@gmail.com>
      name: jacobkoziej@gmail.com
    - icon: fontawesome/brands/github
      link: https://github.com/jacobkoziej
      name: GitHub
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/koziej.jacob/
      name: Instagram

markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.smarty
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Courses:
    - Overview: courses.md
  - About:
    - License: about/license.md
